* {
    border: 0;
    padding: 0;
    margin: 0;

}
.uno img {
    width: 170px;
    height: 59px;
}
.dos img {
    width: 200px;
    height: 250px;
}
div {
    display: flex;
    flex-direction: row;
    

    padding: 80px;
}
.todo {
    justify-content: center;
    
    
}
h2 {
    font-size: 30px;
    margin-top: 10px;
}
.gris {
    color: grey;
    font-weight: 200;
    margin-bottom: 10px;
}


p {
    font-size: 20px;
}
.gris2 {
    color: gray;
    
}

.boton-volver { 
    margin: 0px 0 0 300px;
    background-color: #0dcaf0;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 50px;
  }